<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sabrina - Product Designer</title>
  <link rel="stylesheet" href="/static/css/jenny.css">
</head>
<body>
  <header>
    <a href="#" class="logo">Sabrina</a>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Testimonials</a></li>
      </ul>
    </nav>
    <a href="#" class="btn contact">Contact Me</a>
  </header>

  <main>
    <div class="hero">
      <p class="subtitle">– Hello</p>
      <h1>I'm <span>Sabrina,</span><br> Product Designer</h1>

      <div class="hero-image-container">
        <img src="/static/images/atendente.png" alt="Foto de Sabrina">
      </div>

      <div class="hero-buttons">
        <a href="#" class="btn pink">Portfolio</a>
        <a href="#" class="btn white">Hire Me</a>
      </div>
      
    </div>
  </main>
</body>
</html>
