<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sabrina - Product Designer</title>
  <link rel="stylesheet" href="/static/css/jenny.css"> 
</head>
<body>
  <header>
    <a href="#" class="logomarca">Sabrina</a>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#service">Service</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
      </ul>
    </nav>
    <a href="#" class="botao contato">Contact Me</a>
  </header>

  <main>
    <div class="destaque">
      <p class="subtitulo">– Hello</p>
      <h1>I'm <span>Sabrina,</span><br> Product Designer</h1>

      <div class="container-imagem-destaque">
        <img src="/static/images/atendente.png" alt="Foto de Sabrina">
      </div>

      <div class="botoes-destaque">
        <a href="#" class="botao rosa">Portfolio</a>
        <a href="#" class="botao branco">Hire Me</a>
      </div>
    </div>

    <section id="service" class="servicos"></section>
    <section id="about" class="sobre"></section>
    <section id="projects" class="projetos"></section>
    <section id="blog" class="blog"></section>
    <section id="testimonials" class="depoimentos"></section>

  </main>
</body>
</html>